<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="boolean" scope="shop">
            <name>shopStatus</name>
            <label>Shop aktivieren</label>
            <value>1</value>
            <description>Soll das Plugin für dieses Shop freigeschaltet werden? Betrifft z.B. Änderungen am Menü im Kundenkonto.</description>
        </element>

        <element type="select">
            <name>saleType</name>
            <label>Artikel überverkaufen</label>
            <value>1</value>
            <description>Dürfen Artikel innerhalb eines Konfigurators überverkauft werden?</description>
            <store>
                <option>
                    <value>0</value>
                    <label>Immer überverkaufen</label>
                </option>
                <option>
                    <value>1</value>
                    <label>Nur Abverkauf-Artikel nicht überverkaufen</label>
                </option>
                <option>
                    <value>2</value>
                    <label>Nie Artikel überverkaufen</label>
                </option>
            </store>
        </element>

        <element type="boolean" scope="locale">
            <name>splitConfigurator</name>
            <label>Artikel bei Bestellung aufteilen</label>
            <value>1</value>
            <description>Sollen der Konfigurator in seine einzelnen Artikel nach einer erfolgreichen Bestellung aufgeteilt werden?</description>
        </element>

        <element type="text" scope="locale">
            <name>saveInAttribute</name>
            <label>Konfiguration in Attribut speichern</label>
            <value>attr1</value>
            <description>Die gewählte Konfiguration wird als Fließtext in diesem Attribut gespeichert. Um die Konfiguration in Emails, Rechnungen etc zu verwenden, können Sie auf dieses Attribut zugreifen. Bitte achten Sie darauf, dass 255 Zeichen eventuell nicht ausreichen und Sie die Datenbank-Struktur des Attribut anpassen.</description>
        </element>

        <element type="text" scope="locale">
            <name>articleInfoAttribute</name>
            <label>Artikel Attribut</label>
            <value>attr20</value>
            <description>Sie können weitere Artikel Informationen in den Attributen speichern, so dass diese in den Details jeder Komponente in der Listen-Ansicht ausgegeben werden. Beispiel: attr1, attr2, attr20 etc</description>
        </element>

        <element type="boolean" scope="locale">
            <name>articleLinkStatus</name>
            <label>Artikel verlinken</label>
            <value>1</value>
            <description>Sollen die angezeigten Komponenten mit einem Link auf den jeweiligen Artikel versehen werden?</description>
        </element>

        <element type="select">
            <name>noChoicePosition</name>
            <label><![CDATA[Position von "Keine Auswahl"]]></label>
            <value>1</value>
            <description><![CDATA[Wo soll die Auswahl "Keine Auswahl" positioniert werden? Vor/hinter für den Slider, über/unter für die Listen Ansicht.]]></description>
            <store>
                <option>
                    <value>0</value>
                    <label>Über/vor den Komponenten</label>
                </option>
                <option>
                    <value>1</value>
                    <label>Unter/hinter den Komponenten</label>
                </option>
            </store>
        </element>

        <element type="boolean" scope="locale">
            <name>showOneGroup</name>
            <label>Konfigurator aufteilen</label>
            <value>1</value>
            <description>Soll im Konfigurator nur eine Gruppe angezeigt werden, von der aus man über Buttons zur nächsten Gruppe kommt?</description>
        </element>

        <element type="boolean" scope="locale">
            <name>showQuickview</name>
            <label>Artikel Quickview anzeigen</label>
            <value>1</value>
            <description>Soll beim Klicken auf Produktbild/Informationsbutton eine Quickview angezeigt werden?</description>
        </element>

        <element type="boolean" scope="locale">
            <name>quickviewDescription</name>
            <label>Artikelbeschreibung anzeigen</label>
            <value>1</value>
            <description>Soll die Produktbeschreibung in der Quickview angezeigt werden?</description>
        </element>

        <element type="boolean" scope="locale">
            <name>quickviewAttributes</name>
            <label>Artikelattribute anzeigen</label>
            <value>1</value>
            <description>Sollen Produktdetails in der Quickwiew angezeigt werden?</description>
        </element>

        <element type="button">
            <name>cacheButton</name>
            <label><![CDATA[<b>Cache Einstellungen</b>]]></label>
        </element>

        <element type="boolean" scope="locale">
            <name>cacheStatus</name>
            <label>Cache aktivieren</label>
            <value>1</value>
            <description>Sollen Konfiguratoren und Konfigurationen gecached werden? Eine Deaktivierung des caches wirkt sich massiv auf die Performance aus.</description>
        </element>

        <element type="number" scope="locale">
            <name>cacheTime</name>
            <label>Cache Zeit</label>
            <value>3600</value>
            <description>Wie lange soll ein Konfigurator / eine Konfiguration (in Sekunden) im cache behalten werden?</description>
        </element>

    </elements>

</config>